trunk/HotSpot/SLHotSpot/SLHotSpot/Service References/HotSpotService/HotSpotWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveHotspotData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shopNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hotSpotData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveHotspotDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="LoadHotspotData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shopNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadHotspotDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadHotspotDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveHotspotDataSoapIn">
    <wsdl:part name="parameters" element="tns:SaveHotspotData" />
  </wsdl:message>
  <wsdl:message name="SaveHotspotDataSoapOut">
    <wsdl:part name="parameters" element="tns:SaveHotspotDataResponse" />
  </wsdl:message>
  <wsdl:message name="LoadHotspotDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadHotspotData" />
  </wsdl:message>
  <wsdl:message name="LoadHotspotDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadHotspotDataResponse" />
  </wsdl:message>
  <wsdl:portType name="HotSpotWebServiceSoap">
    <wsdl:operation name="SaveHotspotData">
      <wsdl:input message="tns:SaveHotspotDataSoapIn" />
      <wsdl:output message="tns:SaveHotspotDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadHotspotData">
      <wsdl:input message="tns:LoadHotspotDataSoapIn" />
      <wsdl:output message="tns:LoadHotspotDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotSpotWebServiceSoap" type="tns:HotSpotWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveHotspotData">
      <soap:operation soapAction="http://tempuri.org/SaveHotspotData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadHotspotData">
      <soap:operation soapAction="http://tempuri.org/LoadHotspotData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HotSpotWebServiceSoap12" type="tns:HotSpotWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveHotspotData">
      <soap12:operation soapAction="http://tempuri.org/SaveHotspotData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadHotspotData">
      <soap12:operation soapAction="http://tempuri.org/LoadHotspotData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotSpotWebService">
    <wsdl:port name="HotSpotWebServiceSoap" binding="tns:HotSpotWebServiceSoap">
      <soap:address location="http://localhost:64141/HotSpotWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="HotSpotWebServiceSoap12" binding="tns:HotSpotWebServiceSoap12">
      <soap12:address location="http://localhost:64141/HotSpotWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>